.section-wrapper {
  background-color: var(--color-darkest);
  padding: calc(var(--padding-primary));
  border-radius: var(--border-radius-primary);
  margin-top: var(--margin-primary);
  position: relative !important;
}
