.section-header h4 span {
  color: var(--color-light);
  text-decoration: underline;
}
.section-header h4 {
  color: var(--color-primary);
  font-size: 35px;
  font-weight: var(--font-weight-bold);
}

.section-header {
  margin-bottom: calc(var(--margin-primary) / 2);
}
